[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yamlconfig = "*"
prometheus_client = "*"
pyvmomi = "*"
urllib3 = "*"
pyyaml = "*"
openstacksdk = "*"

[dev-packages]

[requires]
python_version = "3.6"
